.CreateBody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  color: #ffff;
  background-color: #161616;
}
.CreateBody h3{
  margin-top: 60px;
}
.Create_Container{
  border: 1px solid #fff;
  width: 920px;
  height: 960px;
}
.Detail_Entire_Box{
  display: flex;
}
.SImage_Box{
  border: 1px solid #fff;
  width: 290px;
  height: 400px;
  margin: 70px 0 10px 80px;
}
.showImage{
  width: 290px;
  height: 415px;
}
.entir_Boxs{
  display: flex;
  justify-content: flex-start;
}
.Name_info{
  margin: 80px 0 0 10px;
  padding: 0;
}
.Name_info li{
  width: 60px;
  padding: 14px 15px 13px 15px;
  margin: 10px;
  background-color: #ffff;
  color: #161616;
  font-size: 15px;
  font-weight: bold;
  
  border-radius: 10px;
  list-style-type: none;
  list-style: none;
  border: 1px solid #ffff;
}
.input_Boxs{
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 80px;
}
.input_Boxs input{
  padding: 15px 15px 15px 15px;
  margin: 7px;
  background-color: #161616;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  
  border-radius: 10px;
  list-style-type: none;
  list-style: none;
  border: 1px solid #ffff;
}
.input_Boxs select{
  padding: 15px 15px 15px 15px;
  margin: 5px;
  background-color: #161616;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  
  border-radius: 10px;
  list-style-type: none;
  list-style: none;
  border: 1px solid #ffff;
}
.Start_To_End input{
  width: 125px;
  padding: 13px 15px 13px 15px;
  margin: 5px;
  background-color: #161616;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  
  border-radius: 10px;
  list-style-type: none;
  list-style: none;
  border: 1px solid #ffff;
}
/* 상세 공연 만들기 */
.Each_shows{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 40px;
  padding: 20px 0 20px 0;
}
.Each_shows_Name{
  display: flex;
  justify-content: center;
  gap: 70px;
  border-bottom: 1px solid #fff;
}
.Each_shows_Name div{
  margin: 20px 0 20px 0;
}
/* 상세 공연 입력란 */
.Detail_show input{
  background-color: #161616;
  color: #fff;
  
}
/* 공연에 대한 소개 */

.show_content_Entire{
  margin: 70px 0 30px 0;
}
/* .show_content{
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff;
  width: 920px;
  height: 300px;
} */
.show_content textarea{
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 30px;
  width: 920px;
  height: 300px;
  resize: none;
}
.show_content p{
  display: flex;
  margin: 0 17px 0 0;
  justify-content: flex-end;
}