.runtime_shows input[type="number"],
.form_detail_price_2 input[type="number"],
.form_detail_maxPeople_2 input[type="number"],
.shows_line input[type="number"]   {
  -moz-appearance: textfield; 
  appearance: none; 
}
.runtime_shows input[type="number"]::-webkit-outer-spin-button,
.runtime_shows input[type="number"]::-webkit-inner-spin-button,
.form_detail_price_2 input[type="number"]::-webkit-outer-spin-button,
.form_detail_price_2 input[type="number"]::-webkit-inner-spin-button,
.form_detail_maxPeople_2 input[type="number"]::-webkit-outer-spin-button,
.form_detail_maxPeople_2 input[type="number"]::-webkit-inner-spin-button,
.shows_line input[type="number"]::-webkit-outer-spin-button,
.shows_line input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.CreateBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  color: #ffff;
  background-color: #161616;
}

.CreateBody h3 {
  margin-top: 60px;
}

.Create_Container {
  border: 1px solid #fff;
  width: 920px;
  min-height: 950px;
}

.Detail_Entire_Box {
  display: flex;
}

.SImage_Box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #fff;
  width: 290px;
  height: 400px;
  margin: 70px 0 10px 80px;
  /* display: none; */
}
.SImage_Box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.entir_Boxs {
  display: flex;
  justify-content: flex-start;
}

.Name_info {
  margin: 80px 0 0 10px;
  padding: 0;
}

.Name_info li {
  width: 60px;
  padding: 14px 15px;
  margin: 10px;
  background-color: #ffff;
  color: #161616;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  list-style: none;
  border: 1px solid #ffff;
}

.input_Boxs {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 80px;
}

.input_Boxs input,
.input_Boxs select,
.Start_To_End input {
  padding: 15px;
  margin: 7px;
  background-color: #161616;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ffff;
}
.Start_To_End input{
  padding: 12px 10px; 
}
.Start_To_End {
  display: flex;
  align-items: center;
}

/* 상세 공연 만들기 */
.Each_shows {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 40px;
  padding: 20px 0;
}

.Each_shows_Name {
  display: flex;
  justify-content: center;
  gap: 70px;
  border-bottom: 1px solid #fff;
}

.Each_shows_Name div {
  margin: 20px 0;
}
.runtime_shows input{
  width:303px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Detail_show {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  border-bottom: 1px solid #fff;
}

.Detail_show input {
  background-color: #161616;
  color: #fff;
  border: none;
}
/*회차 (공)*/
.shows_line{
  margin-top: 3px;
  margin-left: 150px;
  /* border: 1px solid #fff; */
}
.form_detail_show {
  width: 10px;
  outline: none;
}
/* 상세 날짜 */
.form_detail_date_2{
  margin: -3px 0 15px 38px;
  /* border: 1px solid #fff; */
}
.form_detail_date {
  padding: 10px;
  color: #fff;
  outline: none;
}
/* 상세 시간 */
/* .form_detail_time_2{
  border: 1px solid #fff;
} */
.form_detail_time {
  width: 110px;
  outline: none;
}
/* 상세 금액 */
.form_detail_price_2{
  margin-top: 2px;
  margin-left: 10px;
  /* border: 1px solid #fff; */
}
.form_detail_price {
  width: 40px;
  outline: none;
}
/* 상세 인원 */
.form_detail_maxPeople_2{
  margin-left: 90px;
  margin-top: 3px;
  /* border: 1px solid #fff; */
}
.form_detail_maxPeople{
  width: 25px;
  outline: none;
}
/* 삭제 버튼 */
.delete_Btn button {
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 3px;
  margin-left: 98px;
}

/* 회차 추가 버튼 */
.add_show {
  color: #EB5A3C;
  padding: 18px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}


/* 공연 소개 */
.show_content_Entire {
  margin: 70px 0 30px 0;
}

.show_content textarea {
  background-color: #161616;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 30px;
  width: 920px;
  height: 300px;
  resize: none;
}

.show_content p {
  display: flex;
  margin: -48px 30px 0 0;
  justify-content: flex-end;
  z-index: 10px;
}

/* 계좌 입력 */
.Club_account {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 15px 0;
}

.Club_account_space {
  margin-top: 8px;
  padding-right: 53px;
}

.last_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 35px 70px;
}

.last_Detail_input input,
.last_Detail2_input input {
  background-color: #161616;
  color: #fff;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.last_Detail_input input {
  width: 250px;
  margin-left: 30px;
}

.last_Detail2_input input {
  width: 30px;
  margin-left: 30px;
}

/* 생성 버튼 */
.make_show_submit {
  width: 250px;
  height: 60px;
  background-color: #EB5A3C;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  margin: 30px 10px 100px 670px;
  display: block;
  cursor: pointer;
}
