.update-page-body {
  padding: 100px;
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
  background-color: #161616;
  color: white;
}

.update-page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 100px;
  border: 2px solid white;
  border-radius: 10px;
}

.update-page-title-box {
  padding: 10px;
  margin-bottom: 30px;
}

.update-page-title {
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
}
/* 
.update-page-content-box {
} */

.update-page-content {
  margin-bottom: 30px;
}

.update-page-content input {
  border-radius: 5px;
  padding-left: 5px;
  font-size: 1rem;
}

.update-page-content input::placeholder {
  text-align: left;
}
.update-page-saveButton {
  margin-top: 30px;
  padding: 5px;
  padding-left: 80px;
  padding-right: 80px;
  border: none;
  border-radius: 20px;
  background-color: #eb5a3c;
  font-size: 1rem;


  &:hover {
    cursor: pointer;
    background-color: #a33b26;
  }

  &:active {
    top: 1px;
    border-color: #481910 #481910 #481910;
    box-shadow: 0 1px 0 #481910,
      0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
  }
}
