.category-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.category-box button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: #eb5a3c;
  color: white;

  &:hover {
    cursor: pointer;
    color: #161616;

    box-shadow: 1px 1px 1px gray;
  }
  &:active {
    transform: translateY(1px);
    color: #161616;
  }
}
