.filter-container {
  display: inline-flex;
  width: 100%;
}

.cate {
  position: relative;
  width: 70px;
  height: 32px;
  border: solid black;
  border-radius: 10px;
  background-color: #eb5a3c;
  font-size: 12px;
}

.cate:hover {
  background-color: #fff;
  color: #eb5a3c;
}
