.Footer {
  margin-top: auto;
}

.Footer_Space {
  height: 60px;
  background-color: #eb5a3c;
}

.Footer_Container {
  display: flex;
  flex-direction: column;
  padding: 40px 400px 40px 400px;
  border-top: 1px solid #eb5a3c;
  color: #ffffff;
  background-color: #161616;
  justify-content: center;
  align-items: center;
}

.Footer_Content {
  margin-bottom: 20px;
}
