.Header_Container {
  display: flex;
  padding: 30px 100px 10px 100px;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #727272;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #161616;
}
.Header_Right {
  align-items: flex-end;
  padding-top: 10px;
}
.Header_Right span {
  margin: 30px 0 30px 30px;
}
.Header_Left {
  align-items: flex-start;
}
.Header_Link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #eb5a3c;
  }
}

#main-logo {
  width: 200px;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
    transition: all 0.1s ease;
  }
}