#wrap {
  background-color: #161616;
}

#contents {
  background-color: #161616;
  justify-content: center;
  justify-items: center;
}

#banner {
  height: 800px;
}

.crsl {
  width: 40%;
  height: 200px;
  margin: auto;
}

#showLists {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 53px;
  width: 940px;
}

#list-text {
  background-color: #eb5a3c;
  height: 50px;
}

#list-text p {
  font-size: 30px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

#card_list {
  width: 20%;
}

/* Carousel 이미지 dim 처리 */
.dim-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* 가운데 슬라이드는 밝게 처리 */
.carousel .slide.selected img {
  opacity: 1 !important;
}

/* 양옆 슬라이드는 dim 처리 */
.carousel .slide img {
  width: 75%;
  opacity: 0.5;
  transition: opacity 0.5s;
}

/* 화살표 스타일 */
.carousel .control-arrow {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
