body {
  margin: 0;
  background-color: #161616;
  font-family: "Noto Sans KR", "Noto Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
